<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ movie?.title }} ({{ movie?.year }})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="movie">
  <ion-img
    [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
    style="width: 100%; height: auto;"
  ></ion-img>

  <div style="padding: 16px;">
    <h2>{{ movie.title }} ({{ movie.year }})</h2>

    <p><strong>⭐ Rating:</strong> {{ movie.vote_average }}/10</p>

    <p style="margin-top: 16px;">
      {{ movie.overview }}
    </p>
  </div>
</ion-content>

<ion-content *ngIf="!movie">

</ion-content>
