<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="favourites.length > 0">
    <ion-row>
      <ion-col size="6" *ngFor="let movie of favourites">
        <ion-card (click)="openDetails(movie.id)">
          <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"></ion-img>
          <ion-card-header>
            <ion-card-title>
              {{ movie.title }} ({{ movie.year }})
            </ion-card-title>
          </ion-card-header>
        </ion-card>

        <button (click)="removeFavourite(movie.id)" style="margin-top: 8px;">
          Remove
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="favourites.length === 0" style="padding: 20px; text-align: center;">
    <p>No favourites yet.</p>
  </div>
</ion-content>