<ion-header>
  <ion-toolbar>
    <ion-title>Trending Movies</ion-title>
    
  </ion-toolbar>
  
  <ion-searchbar
      placeholder="Search movies"
      (ionInput)="search($event)"
    ></ion-searchbar>
    <ion-select placeholder="Filter by year" (ionChange)="filterByYear($event)">
  <ion-select-option value="">All years</ion-select-option>
  <ion-select-option *ngFor="let y of years" [value]="y">{{ y }}</ion-select-option>
</ion-select>

</ion-header>
<ion-buttons slot="end">
  <ion-button routerLink="/favourites">
    Favourites
  </ion-button>
  <ion-button routerLink="/visited">Recently Viewed</ion-button>

</ion-buttons>
<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col size="3" *ngFor="let movie of filteredMovies">
       

        <ion-card>
          <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" (click)="openMovie(movie)"></ion-img>
          <ion-card-header>
            <ion-card-title >{{ movie.title }} ({{ movie.release_date | date:'yyyy' }}) <div (click)="isFavourite(movie.id) ? removeFromFavourites(movie.id) : addToFavourites(movie); $event.stopPropagation()"> {{ isFavourite(movie.id) ? '★' : '☆' }} </div> </ion-card-title>
            
          </ion-card-header>
          
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


